@model ICollection<SubjectSelection.Models.SubjectList>


@{
    ViewData["Title"] = "Home Page";
    var search = ViewBag.search;
    var currentUserId = ViewBag.currentUserId;

}

<style type="text/css">
    a:hover {
        cursor: pointer;
    }
</style>

<form asp-action="SearchSubjectLists" method="get">
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="subjectListName">Search subject list</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <input type="text" class="form-control" id="subjectListName" placeholder="Enter name" name="subjectListName" />
            </div>
            <div class="col-md-1">
                @*<button asp-action="SearchSubjectLists" asp-route-subjectListName="" class="btn btn-primary">Search</button>*@
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</form>

<div class="@(search?"col-md-12":"col-md-6")">
    <div class="row">
        <div class="col-md-12">
            User created subject lists:
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Owner card Id
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Owner.StudentCardId)
                            </td>
                            <td class="@(currentUserId == item.OwnerId ? string.Empty : "hidden")">
                                <a asp-controller="Subjects" asp-action="Index" asp-route-parentListId="@item.SubjectListId">Details</a> |
                                <a asp-action="Edit" asp-route-parentListId="@item.SubjectListId">Edit</a> |
                                <a asp-action="Delete" asp-route-subjectListId="@item.SubjectListId">Delete</a>
                            </td>
                            <td class="@(currentUserId != item.OwnerId ? string.Empty : "hidden")">
                                <a asp-controller="Subjects" asp-action="Index" asp-route-parentListId="@item.SubjectListId">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @if (!search)
    {
        <div class="row">
            <div class="col-md-12">
                <form asp-action="CreateSubjectList">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="subjectListName">SubjectList Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="subjectListName" placeholder="Enter name" name="subjectListName" />
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
</div>
@if (!search)
{
    @:Subjects user is signed up to:
    <div class="col-md-6">
        @await Component.InvokeAsync("UserSignedUpSubjects")
    </div>
}



@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

    </script>*@

<script src="bootstrap/js/bootstrap.min.js"></script>
@*<script type="text/javascript">

        $(document).ready(function () {
            $(".btnShowModal").click(function () {
                $("#loginModal").modal('show');
            });

            $(".btnHideModal").click(function () {
                $("#loginModal").modal('hide');
            });
        });
    </script>*@

@*<div class="modal fade" tabindex="-1" id="loginModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        ×
                    </button>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    <form asp-action="DeleteSubjectList">
                        <div class="form-group">
                            Are you sure you want to delete this Subject List?
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary button button4">Yes</button>
                    <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>*@